<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

<title>Editar estudiante</title>
</head>
<body>
	<div class="container-fluid">
		<div class="d-flex flex-column justify-content-center align-items-center">
			<h1 class="mt-2">Editar estudiante</h1>
			<div class="card col-sm-8 mt-2">
				<div class="card-body">
					<form th:action="@{/insertar}" th:object="${estudiante}" method="post">
					<input type="hidden" class="form-control" th:field="*{codigoEstudiante}">
			  			<div class="form-group">
			    			<label>Nombre del estudiante:</label>
			    			<input type="text" class="form-control" th:field="*{nombre}">
							<span th:errors="*{nombre}" style="color:  #E81505;"></span><br>
			  			</div>
			  			<div class="form-group">
			  				<label>Apellido del estudiante:</label>
			    			<input type="text" class="form-control" th:field="*{apellido}">
							<span th:errors="*{apellido}" style="color:  #E81505;"></span><br>
			  			</div>
			  			<div class="form-group">
			    			<label>Numero de carne:</label>
			    			<input type="number" class="form-control" th:field="*{carne}">
							<span th:errors="*{carne}" style="color:  #E81505;"></span><br>
			  			</div>
			  			<div class="form-group">
			    			<label>Carrera:</label>
			    			<input type="text" class="form-control" th:field="*{carrera}">
							<span th:errors="*{carrera}" style="color:  #E81505;"></span><br>
			  			</div>		
			  			<button type="submit" class="btn btn-warning">
							<i class="fas fa-save"></i> Guardar
						</button>
			  		</form>
			  	</div>
			</div>
			<a class="btn btn-primary btn-lg col-sm-1 mt-2" href="/inicio" role="button">Inicio</a>
		</div>
	</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>